body {
	background-color: powderblue;
}

#scrambleRace {
	position: relative;
	width: 800px;
	margin: auto;
	min-height: 300px;
	padding: 10px 25px;
	
	border: 1px solid black;
	border-radius: 25px;
	background-color: grey;
}

#scrambleRace h1 {
	margin: 5px;
	text-align: center;
	font-weight: normal;
}

#scrambleRace h2 {
	margin-top: 5px;
	text-align: center;
	font-weight: normal;
}

#gameContainer {
	position: absolute;
	width: 65%;
	margin-left: 30%;
	padding: 10px;
	top: 50%;
	transform: translateY(-50%);
}

#rules {
	float: left;
	width: 30%;
}

button {
	width: 100%;
	background-color: #5A5A5A;
	border: none;
	border-radius: 5px;
	margin: 7px auto;
	padding: 5px;
	font-size: 15px;
}

button:disabled {
	background-color: #6A6A6A;
	color: #5A5A5A;
}

input {	
	width: 100%;
	border: 2px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	font-size: 25px;
}

.hidden {
	 display: none;
}
